
body{
    margin: 0px;
    padding: 0px;
    font-family: "Graphik Web", Helvetica, sans-serif;
    font-weight: lighter;
  }
  
 /* Header Section */
header{
    background-color: #111324;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0%;
    z-index: 100;
    display: grid;
    justify-content: space-around;
  }
  
  /* Navigation Bar */
  #nav-bar{
    /* border: 2px solid red; */
    height: 100%;
    /* width: 68.5%; */
    width: 1300px;
    /* position: relative;
    left: 15.75%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo inside the Navigation Bar */
  .cmlogo{
    padding-left: 1%;
    padding-top: 2%;
    /* width: 100%; */
    /* border: 2px solid red; */
    transition: 0.2s ease-in-out;
  }
  
  /* Navigation Menu */
  #nav-menu{
    float: right;
    font-weight: lighter;
    width: 74.5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  #primary{
    /* border: 2px solid red; */
    display: flex;
  }
  
  #secondary{
  
    float: right;
    width: 29%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  #nav-menu a:not(.btn){
    /* border: 2px solid red; */
    letter-spacing: .14em;
    font-size: 0.88em;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8% 3%;
    padding-bottom: 6.8%;
    box-sizing: border-box;    
    transition: 0.2s ease-in-out;
  }
  
  #nav-menu #secondary a:not(.btn){
    padding: 11.8% 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    font-size: 0.95em;
    letter-spacing: .12em;
  }
  
  header #nav-menu #secondary .btn{
    height: 15%;
    float: right;
    font-size: 0.92em;
    font-weight: bold;
    text-decoration: none;
    padding: 5% 5.5%;
    margin: 7% 0%;
    margin-bottom: 0%;
    border-radius: 3px;
    background: #51CFDB;
    color: #111324;
    transition: 0.2s;
  }
  
  /* Hover Effects */
  #nav-bar #nav-menu a:not(.btn):hover{
    color: #51CFDB;
  }
  
  header #nav-menu #secondary .btn:hover{
    background: #6ad6e0;
  }
  
  /* Media query for header */
  @media only screen and (max-width: 1400px) {
    header #nav-menu a:not(.btn){
        font-size: .75em;
        padding-right: 1%;
    }
    
    header #nav-menu #secondary a:not(.btn){
        font-size: .75em;
        padding-right: 1%;
    }
    header #nav-menu{
        width: 70%;
    }
  }
  
  @media only screen and (max-width: 1360px) {
    header #nav-menu #secondary .btn{
        padding: 4.7% 5%;
        font-size: 0.8em;
    }
    #nav-bar{
        width: 1200px;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    header #nav-bar .cmlogo svg{
        padding: 0%;
        width: 75%;
    }
  }
  
  @media only screen and (max-width: 1250px) {
    header #nav-bar{
        width: 1100px;
    }
  }
  
  @media only screen and (max-width: 1111px) {
    
    header #nav-bar .cmlogo svg g path:nth-child(1){
        display: none;
    }
    header #nav-bar{
        width: 1000px;
        justify-content: space-evenly;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    
    header #nav-bar #secondary a:nth-child(2){
        display: none;
    }
    
    header #nav-bar #secondary{
        justify-content: space-evenly;
    }
  }
  
  @media only screen and (max-width: 950px) {
    header #nav-bar{
        width: 900px;
    }
  
  }
  
  /* Fancy section */
  .fancy{
    position: fixed;
    height: 52px;
    width: 52px;
    border-radius: 50px;
    bottom: 2.1%;
    right: 1.05%;
    background-color: #7856FF;
    box-shadow: 0px 0px 10px 0px rgb(0,0,0,.3);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    z-index: 100;
  }
  
  .fancy a{
    transition: 0.3s ease-in-out;
    width: 100%;
    fill: white;
    text-decoration: none;
    color: #7856FF;
  }
  
  .fancy a .icon svg{
    height: 24px;
    position: relative;
    top: 14px;
    left: 4px;
  }
  
  .fancy a span{
    /* border: 2px solid red; */
    padding-bottom: 14px;
    padding-right: 11px;
    position: relative;
    top: -10px;
    left: 52px;
  }
  
  .fancy:hover, .fancy a:hover{
    width: 150px;
    color: white;
  }
  
  

@media screen and (min-width: 1100px) {
    #top {
        width: 44%;
        margin: auto;
        height: auto;
        background-color: #FFFFFF;
        text-align: center;
        /* margin-left: 18.5%; */
        margin-top: 2.5%;
    }
    #top > h {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 3.6em;
        line-height: 1.167em;
        font-weight: 600;
        color: #111324;
    }
    #top > p {
        font-size: 1.1em;
        line-height: 1.5em;
        color: #111324;
    }
    #top > #free {
        width: 216px;
        height: 60px;
        background-color: #7756FE;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 15px;
        border: 0px;
        border-radius: 3px;
        transition: 0.2s ease-in-out;
    }
    #free > a {
        text-decoration: none;
        color: #FFFFFF;
    }
    #top > #free:hover {
        background-color: #886aff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    #filter {
        width: 80%;
        height: auto;
        display: flex;
        margin-left: 10%;
        margin-top: 5%;
        padding-top: 4%;
        background-color: #F6F6F7;
        justify-content: center;
    }
    #filter > .a1 {
        font-size: 1.0em;
        color: #111324;
        font-weight: 600;
        margin: 20px;
        margin-top: 28px;
        margin-left: 10%;
    }
    #filter > .b1 {
        font-size: 1.0em;
        color: white;
        background-color: #7756FE;
        font-weight: 600;
        border-radius: 25px;
        padding-top: 15px;
        text-align: center;
        width: 116px;
        height: 30px;
        margin: 20px;
        cursor: pointer;
    }
    #filter > .c1 {
        font-size: 1.0em;
        color: #7756FE;
        font-weight: 600;
        margin: 22px;
        margin-top: 28px;
    }
    #grid {
        width: 80%;
        height: 3000px;
        display: grid;
        margin-left: 10%;
        /* margin-top: 5%; */
        gap: 1%;
        background-color: #F6F6F7;
        grid-template-areas: "a b c d"
                            "e f g h"
                            "i j k l"
                            "m n o p"
                            "q r s t"
                            "u v w x"
                            ". y z .";
    }
    #grid > div {
        width: 87%;
        height: 390px;
        position: relative;
        margin-left: 7%;
    }
    #grid > .a {
        grid-area: a;
    }
    #grid > div > img {
        display: block;
        width: 100%;
        height: 100%;
    }
    #grid > div:nth-child(odd) > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        font-family: monospace;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.25s;
    }
    #grid > div:nth-child(even) > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:#62D4DF;
        color: white;
        font-family: monospace;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.25s;
    }
    #grid > div:nth-child(odd) > .overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
    }
    #grid > div:nth-child(odd) > .overlay:hover > * {
        transform: translateY(0);
    }
    #grid > div:nth-child(odd) > .overlay:hover {
        opacity: .8;
        cursor: pointer;
    }
    #grid > div:nth-child(odd) > .overlay > .title{
        font-size: 2em;
        font-weight: bold;
    }
    #grid > div:nth-child(even) > .overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
    }
    #grid > div:nth-child(even) > .overlay:hover > * {
        transform: translateY(0);
    }
    #grid > div:nth-child(even) > .overlay:hover {
        opacity: .8;
        cursor: pointer;
    }
    #grid > div:nth-child(even) > .overlay > .title{
        font-size: 2em;
        font-weight: bold;
    }
    #grid > .b {
        grid-area: b;
    }
    #grid > .c {
        grid-area: c;
    }
    #grid > .d {
        grid-area: d;
    }
    #grid > .e {
        grid-area: e;
    }
    #grid > .f {
        grid-area: f;
    }
    #grid > .g {
        grid-area: g;
    }
    #grid > .h {
        grid-area: h;
    }
    #grid > .i {
        grid-area: i;
    }
    #grid > .j {
        grid-area: j;
    }
    #grid > .k {
        grid-area: k;
    }
    #grid > .l {
        grid-area: l;
    }
    #grid > .m {
        grid-area: m;
    }
    #grid > .n {
        grid-area: n;
    }
    #grid > .o {
        grid-area: o;
    }
    #grid > .p {
        grid-area: p;
    }
    #grid > .q {
        grid-area: q;
    }
    #grid > .r {
        grid-area: r;
    }
    #grid > .s {
        grid-area: s;
    }
    #grid > .t {
        grid-area: t;
    }
    #grid > .u {
        grid-area: u;
    }
    #grid > .v {
        grid-area: v;
    }
    #grid > .w {
        grid-area: w;
    }
    #grid > .x {
        grid-area: x;
    }
    #grid > .y {
        grid-area: y;
    }
    #grid > .z {
        grid-area: z;
    }
    .flex {
        width: 80%;
        margin-left: 8%;
        margin-top: 1%;
        display: flex;
    }
    .flex > div {
        width: 30%;
        margin: 2%;
    }
    .flex > div > h2 {
        font-family: "Graphik Web", Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 550;
    }
    #last > h1 {
        text-align: center;
        margin-top: 5%;
        font-size: 2.5em;
    }
    #last > .flex > div > p {
        font-size: .95em;
        color: rgba(0, 0, 0, 0.7);
    }
    #end {
        width: 100%;
        text-align: center;
        margin-top: 0;
        background: linear-gradient(to right, #7856FF 0%, #65B9FF 100%);
        height: 586px;
        display: grid;
        justify-content: space-around;

    }
    #end > div {
        width: 65%;
        height: 40%;
        margin: auto;
        padding-top: 150px;
    }
    #end > div > h {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 2.4em;
        line-height: 1.167em;
        font-weight: bold;
        color: white;
        /* padding: 0px 100px; */
    }
    #end > div > p {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 1.15em;
        font-weight: 400;
        color: white;
        margin: 40px 0px;
    }
    #end >div > #try {
        width: 171px;
        height: 60px;
        text-align: center;
        color: #7756FE;
        border: 0px;
        border-radius: 3px;
        background-color: white;
        transition: 0.2s ease-in-out;
    }
    #try > a {
      text-decoration: none;
      color: #7756FE;
      font-weight: bolder;
      font-size: 1.2em;
    }
    #end > div > #try:hover {
        background-color: transparent;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        border: 1px solid white;
    }
    #try:hover > a {
      color: #FFFFFF;
      font-weight: bold;
    }
}
@media screen and (min-width: 400px)
                and (max-width: 800px){
    #top {
        width: 60%;
        height: auto;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 17.5%;
        margin-top: 2.5%;
    }
    #top > h {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 4.4em;
        line-height: 1.167em;
        font-weight: 500;
    }
    #top > p {
        font-size: 1.8em;
        line-height: 1.5em;
        color: #111324;
    }
    #top > #free {
        width: 216px;
        height: 60px;
        background-color: #7756FE;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 15px;
        border: 0px;
        border-radius: 5px;
    }
    #filter {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-top: 10%;
        background-color: #F6F6F7;
        text-align: center;
    }
    #filter > .a1 {
        font-size: 1.2em;
        color: #111324;
        font-weight: 600;
        margin: 20px;
        margin-top: 28px;
    }
    #filter > .b1 {
        font-size: 1.2em;
        color: white;
        background-color: #7756FE;
        font-weight: 600;
        border-radius: 20px;
        padding-top: 9px;
        text-align: center;
        width: 113px;
        height: 36px;
        margin: 20px;
        margin-left: 35%;
    }
    #filter > .c1 {
        font-size: 1.2em;
        color: #7756FE;
        font-weight: 600;
        margin: 22px;
        margin-top: 28px;
    }
    #grid {
        width: 80%;
        height: auto;
        display: grid;
        margin-top: 5%;
        margin-left: 2%;
        background-color: #F6F6F7;
        grid-template-areas: "a b" 
                                "c d"
                                "e f" 
                                "g h"
                                "i j" 
                                "k l"
                                "m n" 
                                "o p"
                                "q r" 
                                "s t"
                                "u v" 
                                "w x"
                                "y z";
    }
    #grid > div {
        width: 87%;
        height: 390px;
        margin-left: 1%;
    }
    #grid > .a {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/jaybird_v1-269x389.jpg);
        background-size: cover;
        grid-area: a;
    }
    #grid > .b {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_wonderfulunion-269x389.jpg);
        background-size: cover;
        grid-area: b;
    }
    #grid > .c {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_whaledolphin-269x389.jpg);
        background-size: cover;
        grid-area: c;
    }
    #grid > .d {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_sxsw-269x389.jpg);
        background-size: cover;
        grid-area: d;
    }
    #grid > .e {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_unicef-269x389.jpg);
        background-size: cover;
        grid-area: e;
    }
    #grid > .f {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_soho-269x389.jpg);
        background-size: cover;
        grid-area: f;
    }
    #grid > .g {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_royalchilderns-269x389.jpg);
        background-size: cover;
        grid-area: g;
    }
    #grid > .h {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_rollingstone-269x389.jpg);
        background-size: cover;
        grid-area: h;
    }
    #grid > .i {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_rollingstone-269x389.jpg);
        background-size: cover;
        grid-area: i;
    }
    #grid > .j {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_ripcurl-1-269x389.jpg);
        background-size: cover;
        grid-area: j;
    }
    #grid > .k {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_resy-269x389.jpg);
        background-size: cover;
        grid-area: k;
    }
    #grid > .l {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_redcross-269x389.jpg);
        background-size: cover;
        grid-area: l;
    }
    #grid > .m {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_parkrun-269x389.jpg);
        background-size: cover;
        grid-area: m;
    }
    #grid > .n {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_on-269x389.jpg);
        background-size: cover;
        grid-area: n;
    }
    #grid > .o {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_monicavinader-269x389.gif);
        background-size: cover;
        grid-area: o;
    }
    #grid > .p {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_glamcorner-269x389.jpg);
        background-size: cover;
        grid-area: p;
    }
    #grid > .q {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: q;
    }
    #grid > .r {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flightcetnre-269x389.jpg);
        background-size: cover;
        grid-area: r;
    }
    #grid > .s {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_drake-269x389.jpg);
        background-size: cover;
        grid-area: s;
    }
    #grid > .t {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: t;
    }
    #grid > .u {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_chat-269x389.gif);
        background-size: cover;
        grid-area: u;
    }
    #grid > .v {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flightcetnre-269x389.jpg);
        background-size: cover;
        grid-area: v;
    }
    #grid > .w {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: w;
    }
    #grid > .x {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_birchbox-269x389.gif);
        background-size: cover;
        grid-area: x;
    }
    #grid > .y {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flightcetnre-269x389.jpg);
        background-size: cover;
        grid-area: y;
    }
    #grid > .z {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: z;
    }
    #last {
        margin-top: 800px;
    }
    .flex {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }
    #last > h1 {
        text-align: center;
        margin-top: 5%;
    }
    #end {
        width: 100%;
        height: 582px;
        padding-top: 20%;
        margin-top: 5%;
        text-align: center;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
        background: #3b679e; /* Old browsers */
        background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    }
    #end > h {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 2.7em;
        line-height: 1.167em;
        font-weight: 600;
        color: white;
    }
    #end > p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: white;
    }
    #end > #try {
        width: 171px;
        height: 60px;
        text-align: center;
        color: #7756FE;
        border: 0px;
        border-radius: 5px;
        background-color: white;
        font-weight: 600;
    }
}
@media screen and (min-width: 800px)
                and (max-width: 1100px) {
    #top {
        width: 60%;
        height: auto;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 17.5%;
        margin-top: 2.5%;
    }
    #top > h {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 4.4em;
        line-height: 1.167em;
        font-weight: 500;
    }
    #top > p {
        font-size: 1.8em;
        line-height: 1.5em;
        color: #111324;
    }
    #top > #free {
        width: 216px;
        height: 60px;
        background-color: #7756FE;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 15px;
        border: 0px;
        border-radius: 5px;
    }
    #filter {
        width: 80%;
        height: auto;
        display: flex;
        margin-top: 10%;
        background-color: #F6F6F7;
    }
    #filter > .a1 {
        font-size: 1.2em;
        color: #111324;
        font-weight: 600;
        margin: 20px;
        margin-top: 28px;
    }
    #filter > .b1 {
        font-size: 1.2em;
        color: white;
        background-color: #7756FE;
        font-weight: 600;
        border-radius: 20px;
        padding-top: 9px;
        text-align: center;
        width: 113px;
        height: 36px;
        margin: 20px;
    }
    #filter > .c1 {
        font-size: 1.2em;
        color: #7756FE;
        font-weight: 600;
        margin: 22px;
        margin-top: 28px;
    }
    #grid {
        width: 80%;
        height: auto;
        display: grid;
        margin: auto;
        background-color: #F6F6F7;
        grid-template-areas: "a b c" 
                                "d e f"
                                "g h i"
                                "j k l"
                                "m n o"
                                "p q r"
                                "s t u"
                                "v w x"
                                ". z y";
    }
    #grid > div {
        width: 87%;
        height: 390px;
        margin: 1.5%;
    }
    #grid > .a {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/jaybird_v1-269x389.jpg);
        background-size: cover;
        grid-area: a;
    }
    #grid > .b {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_wonderfulunion-269x389.jpg);
        background-size: cover;
        grid-area: b;
    }
    #grid > .c {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_whaledolphin-269x389.jpg);
        background-size: cover;
        grid-area: c;
    }
    #grid > .d {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_sxsw-269x389.jpg);
        background-size: cover;
        grid-area: d;
    }
    #grid > .e {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_unicef-269x389.jpg);
        background-size: cover;
        grid-area: e;
    }
    #grid > .f {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_soho-269x389.jpg);
        background-size: cover;
        grid-area: f;
    }
    #grid > .g {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_royalchilderns-269x389.jpg);
        background-size: cover;
        grid-area: g;
    }
    #grid > .h {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_rollingstone-269x389.jpg);
        background-size: cover;
        grid-area: h;
    }
    #grid > .i {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_rollingstone-269x389.jpg);
        background-size: cover;
        grid-area: i;
    }
    #grid > .j {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_ripcurl-1-269x389.jpg);
        background-size: cover;
        grid-area: j;
    }
    #grid > .k {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_resy-269x389.jpg);
        background-size: cover;
        grid-area: k;
    }
    #grid > .l {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_redcross-269x389.jpg);
        background-size: cover;
        grid-area: l;
    }
    #grid > .m {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_parkrun-269x389.jpg);
        background-size: cover;
        grid-area: m;
    }
    #grid > .n {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_on-269x389.jpg);
        background-size: cover;
        grid-area: n;
    }
    #grid > .o {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_monicavinader-269x389.gif);
        background-size: cover;
        grid-area: o;
    }
    #grid > .p {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_glamcorner-269x389.jpg);
        background-size: cover;
        grid-area: p;
    }
    #grid > .q {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: q;
    }
    #grid > .r {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flightcetnre-269x389.jpg);
        background-size: cover;
        grid-area: r;
    }
    #grid > .s {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_drake-269x389.jpg);
        background-size: cover;
        grid-area: s;
    }
    #grid > .t {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: t;
    }
    #grid > .u {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_chat-269x389.gif);
        background-size: cover;
        grid-area: u;
    }
    #grid > .v {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flightcetnre-269x389.jpg);
        background-size: cover;
        grid-area: v;
    }
    #grid > .w {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: w;
    }
    #grid > .x {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_birchbox-269x389.gif);
        background-size: cover;
        grid-area: x;
    }
    #grid > .y {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flightcetnre-269x389.jpg);
        background-size: cover;
        grid-area: y;
    }
    #grid > .z {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/02/gallery_1076x1556_flume-269x389.jpg);
        background-size: cover;
        grid-area: z;
    }
    .flex {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        display: flex;
    }
    #last {
        margin-top: 500px;
    }
    #last > h1 {
        text-align: center;
        margin-top: 5%;
    }
    #end {
        width: 100%;
        height: 582px;
        padding-top: 20%;
        margin-top: 5%;
        text-align: center;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
        background: #3b679e; /* Old browsers */
        background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    }
    #end > h {
        font-family: 'Graphik Web', Helvetica, sans-serif;
        font-size: 2.7em;
        line-height: 1.167em;
        font-weight: 600;
        color: white;
    }
    #end > p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: white;
    }
    #end > #try {
        width: 171px;
        height: 60px;
        text-align: center;
        color: #7756FE;
        border: 0px;
        border-radius: 5px;
        background-color: white;
        font-weight: 600;
    }
}

/* Footer Section */
footer{
    height: 595px;
    background-color: #111324;
    color: white;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  
  .btn-container{
      
    width: 95%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
  
  .btn-container a{
    border-radius: 3px;
    text-decoration: none;
    width: 48.5%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 23px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    color: white;
    background-color: #7856FF;
  }
  
  .btn-container a:hover{
    color: white;
    background-color: #886aff;
  }
  
  /* Top Part of footer with links */
  
  footer .cmlogo{
    display: inline;
    padding: .15%;
  }
  
  footer a{
    text-decoration: none;
  }
  
  footer #footer-cont{
    /* width: 73.1%; */
    width: 1300px;
  }
  
  footer #footer-cont #top-footer{
    margin-bottom: 219px;
  }
  
  footer #footer-cont #footer-menu{
    padding: 0%;
    margin-top: -2px;
    float: right;
    width: 682px;
  }
  
  footer #footer-cont #footer-menu ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    float: left;
    width: 25%;
  }
  
  footer #footer-cont #footer-menu ul li:nth-child(1){
    margin: 0px 0px 9px 0px;
  }
  
  footer #footer-cont #footer-menu ul li{
    margin: 0px 0px 7px 0px;
  }
  
  footer #footer-cont #footer-menu ul li a{
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    transition: 0.2s ease-in-out;
  }
  
  footer #footer-cont #footer-menu ul li a:hover{
    opacity: 0.85;
  }
  
  footer #footer-cont #footer-menu ul .heading{
    letter-spacing: 0px;
    font-weight: bold;
    color: #8A8B93;
  }
  
  footer #footer-cont #footer-menu ul .heading:hover{
    opacity: 1;
  }
  
  
  hr{
    border: 0px solid #ffffff;
    border-top: 1px solid #5D5D66;
    width: 99.7%;
  }
  
  /* Bottom Part of footer with copyright */
  
  footer #bottom-footer{
    margin-top: 26px;
    margin-left: 2px;
  }
  
  footer #bottom-footer .btn-container{
    width: 18.12%;
    float: left;
  }
  
  footer #bottom-footer .btn-container a{
    width: 100%;
  }
  
  footer #bottom-footer .foot-notes{
    margin-top: 9.5px;
    float: right;
    width: 684px;
  }
  
  footer #bottom-footer .foot-notes a{
    margin-right: 13.5px;
  }
  
  footer #bottom-footer .foot-notes a svg{
    transition: 0.2s ease-in-out;
  }
  
  footer #bottom-footer .foot-notes a svg:hover{
    opacity: .85;
  }
  
  footer #bottom-footer .foot-notes .foot-line{
    float: right;
    width: 498px;
    font-size: 11.5px;
    margin-top: 3px;
    margin-right: 0px;
    color: #BEBEC2;
    letter-spacing: .05px;
  }
  
  footer #bottom-footer .foot-notes .foot-line a{
    color: #BEBEC2;
    margin-right: 0px;
    transition: 0.2s ease-in-out;
  }
  
  footer #bottom-footer .foot-notes .foot-line a:hover{
    opacity: .85;
  }
  
  footer #bottom-footer .foot-notes .foot-line .first-sep {
    width: 1px;
    height: 13px;
    position: relative;
    top: 2px;
    display: inline-block;
    background-color: #8A8B93;
    margin: 0px 5px;
  }
  
  footer #bottom-footer .foot-notes .foot-line .sep {
    margin-left: 10px;
  }
  
  .last-part{
    width: 75%;
    margin: auto;
    margin-top: 145px;
    text-align: center;
    /* border: 2px solid red; */
  }
  
  .last-part span{
    color: #BEBEC2;
    font-size: 11.5px;
    letter-spacing: .18px;
  }
  
  .last-part span a{
    color: #BEBEC2;
    transition: 0.2s ease-in-out;
  }
  
  .last-part span a:hover{
    opacity: 0.85;
  }
  
  footer .logos{
    /* border: 2px solid red; */
    width: 74.5%;
    margin: auto;
    margin-top: 10px;
  }
  
  footer .logos a{
    margin: 16px;
  }
  
  footer .logos a img{
    width: 10%;
  }
  
  footer .logos .one{
    width: 15.2%;
  }
  
  footer .logos .two{
    width: 14%;
  }
  
  footer .logos .three{
    width: 5.8%;
  }
  
  footer .logos .four{
    width: 7.8%;
  }
  
  footer .logos .five{
    width: 8%;
  }
  
  footer .logos .six{
    width: 8%;
  }
  
  footer .logos .seven{
    width: 6%;
  }
  
  footer .logos .eight{
    width: 5%;
  }
  
  /* media Queries */
  
  @media only screen and (max-width: 1630px){
    footer #bottom-footer .btn-container a{
        font-size: 12px;
    }
    footer{
        justify-content: space-evenly;
    }
  }
  