
body{
    margin: 0px;
    padding: 0px;
    font-family: "Graphik Web", Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  /* Header Section */
  header{
    background-color: #111324;
    /* width: 100%; */
    height: 80px;
    position: sticky;
    top: 0%;
    z-index: 100;
  }
  
  /* Navigation Bar */
  #nav-bar{
    /* border: 2px solid red; */
    height: 100%;
    width: 68.5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo inside the Navigation Bar */
  .cmlogo{
    padding-left: 2px;
    padding-top: 3px;
    width: 100%;
    /* border: 2px solid red; */
  }
  
  /* Navigation Menu */
  #nav-menu{
    height: 100%;
    width: 45%;
    display: flex;
    /* border: 2px solid red; */
  }
  
  /* Secondary Menu */
  #secondary-menu{
    height: 100%;
    width: 22%;
    display: flex;
    /* border: 2px solid red; */
  }
  
  #secondary-menu > .btn{
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 3px;
    background: #51CFDB;
    margin: 20px 0px 0px 10px;
    padding: 12px 15px;
    height: 40px;
    color: #111324;
    transition: 0.2s;
  }
  
  /* Anchor Tag properties */
  #nav-bar > a{
    width: 18%;
  }
  
  #nav-bar #nav-menu a,#secondary-menu a{
    letter-spacing: .115em;
    font-size: 15px;
    text-decoration: none;
    color: white;
    /* border: 2px solid red; */
    text-align: center;
    padding: 33px 12px;
    box-sizing: border-box;    
    transition: 0.2s;
  }
  
  #secondary-menu a{
    letter-spacing: .13em;  
  }
  
  /* Hover Effects */
  #nav-bar #nav-menu a:hover,#secondary-menu a:not(.btn):hover{
    color: #51CFDB;
  }
  
  header #secondary-menu .btn:hover{
    background: #6ad6e0;
  }

@media screen and (min-width: 1100px) {
    #head {
        width: 100%;
        height: 430px;
        background-color: #1F2342;
    }
    #headbottom {
        width: 100%;
        height: 70px;
        background-color: #7856FF;
        margin-top: 8%;
        display: flex;
    }
    #sub {
        width: 130px;
        height: 38px;
        border-radius: 5px;
        background-color: #F6F6F7;
        margin-top: 1%;
        margin-left: 2%;
    }
    #head > .text > h {
        font-size: 56px;
        color: #FFFFFF;
        margin-left: 30%;
        font-family: "Graphik Web", Helvetica, sans-serif;
    }
    #head > .text > p {
        font-size: 20px;
        color: #FFFF;
        text-align: center;
    }
    #head > .text {
        width: 100%;
        height: 124px;
        padding-top: 10%;
    }
    #headbottom > p {
        font-size: 20px;
        color: #FFFFFF;
        margin-left: 30%;
    }
    .logo1{
        height: 40px;
        width: 40px;
        background-color: #7856FF;
        border-radius: 5px;
    }
    .logo1 > img {
        height: 35px;
        width: 35px;
    }
    .filter1 {
        width: 80%;
        height: 88px;
        display: flex;
        margin-top: 100px;
        margin-left: 10%;
    }
    .filter1 > input {
        width: 25%;
        height: 45px;
        margin-left: 5%;
        border-radius: 5px;
    }
    .filter1 > p {
        margin: 20px;
        color: darkgrey;
        padding: 0%;
        margin-top: 1%;
    }
    .filter1 > p1 {
        margin-left: 30%;
        color: darkgrey;
        padding: 0%;
        margin-top: 1%;
    }
    #mid {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
    }
    .flex {
        width: 100%;
        height: 50%;
    }
    #mid > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .box1 > img {
        width: 100%;
        height: 50%;
    }
    .box1 {
        background-color: #FFFFFF;
        border: .5px solid darkgrey;
    }
    .box1 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: darkgrey;
        text-align: center;
    }
    .box2 {
        background-color: #7856FF;
    }
    .box2 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box3 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2020/01/wall-street-journal-img-copy-570x675.jpg);
        background-size: cover;
    }
    .box3 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box4 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2019/10/dark-with-bubbles-570x675.jpg);
        background-size: cover;
    }
    .box4 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    #mid1 {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
        background-color: white;
    }
    #mid1 > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .box5 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2021/03/drag-image_web-570x675.jpg);
        background-size: cover;
    }
    .box5 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box6 {
        background-color: #1E2241;
    }
    .box6 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box7 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2019/11/onboarding-video-purple-570x675.jpg);
        background-size: cover;
    }
    .box7 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .flex {
        display: flex;
    }
    #template {
        width: 80%;
        height: 454px;
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2016/09/template-blog_2000x375-v3-tiny.png);
        margin-left: 10%;
    }
    #template > p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 35px;
        color: white;
        text-align: center;
        padding-top: 10%;
    }
    .flex > img {
        width: 65%;
        height: 100%;
    }
    .flex > .text2 {
        width: 35%;
        height: 100%;
        background-color: #FFFFFF;
        text-align: center;
        font-size: 25px;
        color: darkgrey;
    }
    #mid2 {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
        background-color: white;
    }
    #mid2 > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    #mid3 {
        text-align: center;
        margin-top: 5%;
    }
    #mid3 > h {
        font-size: 25px;

    }
    #get {
        width: 25%;
        height: 43px;
        border-radius: 5px;
        background-color: #7856FF;
        text-align: center;
        color: white;
        font-size: 15px;
        margin-top: 1.8%;
        margin-bottom: 7%;
    }
    #mid3 > h1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #see {
        width: 188px;
        height: 46px;
        border-radius: 5px;
        border: 1px solid aqua;
        color: aqua;
        margin-top: 2%;
        background-color: white;
    }
    #mid5{
        width: 80%;
        height: auto;
        display: flex;
        margin-left: 9%;
        margin-top: 2%;
    }
    #mid5 > .imgbox > img {
        width: 400px;
        height: 219px;
    }
    #mid5 > .imgbox > div {
        width: 400px;
        height: 374px;
        background-color: white;
        margin-top: 0px;
        padding-top: 0px;
    }
    .imgbox{
        background-color: white;
        width: 400px;
        height: 600px;
        margin: 1.5%;
    }
    #mid5 > .imgbox > div > p {
        margin-left: 10px;
        font-size: 18px;
        color: #7856FF;
    }
    #mid5 > .imgbox > div > h {
        margin-left: 10px;
        font-size: 16px;
        color: #7856FF;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
    }
    #mid4 > h {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
    }
    #mid4 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 200;
    }
    #mid4 {
        width: 40%;
        height: auto;
        margin-left: 37%;
        margin-top: 15%;
    }
    .box8 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/05/template-builder-teal-tall-570x675.jpg);
        background-size: cover;
    }
    .box8 > p {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 600;
        text-align: center;
        padding-top: 30px;
    }
    .box9 {
        border: 1px solid white;
    }
    #mid6 {
        width: 80%;
        height: 1600px;
        margin-left: 9%;
        background-color: #F6F6F7;
    }
    #mid6 > .flex1 > div{
        width: 35%;
        height: 90%;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .flex1 {
        width: 100%;
        height: 33%;
    }
    .flex1 {
        display: flex;
    }
    #last {
        width: 80%;
        height: auto;
        display: flex;
        margin-left: 15%;
        margin-top: 10%;
    }
    #last > .img {
        height: 340px;
        width: 335px;
    }
    .img > img {
        height: 100%;
        width: 100%;
    }
    .pbox {
        height: 340px;
        width: 50%;
        margin-left: 10%;
    }
    .pbox > h {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 400;
    }
    .pbox > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    .pbox > .sublast {
        width: 125px;
        height: 44px;
        border-radius: 2px;
        text-align: center;
        background-color: aqua;
        color: black;
        margin-top: 1.5%;
        margin-left: 1.5%;
    }
    #end {
        width: 100%;
        height: 581px;
        background: #7db9e8;
        background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
        background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
        background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
        ;
        text-align: center;
        padding-top: 20%;
    }
    #end > h {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: white;
    }
    #end > p {
        font-size: 20px;
        color: white;;
    }
    #end > #free {
        height: 70px;
        width: 173px;
        background-color: white;
        color: #7856FF;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 400;
    }
}
@media screen and (min-width: 400px)
                and (max-width: 700px){
    #head {
        width: 100%;
        height: 430px;
        background-color: #1F2342;
        text-align: center;
    }
    #headbottom {
        width: 100%;
        height: 70px;
        background-color: #7856FF;
        margin-top: 52%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #sub {
        width: 130px;
        height: 38px;
        border-radius: 5px;
        background-color: #F6F6F7;
        margin-top: 1%;
        margin-left: 35%;
    }
    #head > .text > h {
        font-size: 36px;
        color: #FFFFFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #head > .text > p {
        font-size: 20px;
        color: #FFFF;
        text-align: center;
    }
    #head > .text {
        width: 100%;
        height: 124px;
        padding-top: 10%;
    }
    #headbottom > p {
        font-size: 20px;
        color: #FFFFFF;
    }
    .logo1{
        height: 40px;
        width: 40px;
        background-color: #7856FF;
        border-radius: 5px;
    }
    .logo1 > img {
        height: 35px;
        width: 35px;
    }
    .filter1 {
        width: 80%;
        height: 88px;
        display: flex;
        margin-top: 100px;
        display: none;
    }
    .filter1 > input {
        width: 25%;
        height: 45px;
        margin-left: 5%;
        border-radius: 5px;
    }
    .filter1 > p {
        margin: 20px;
        color: darkgrey;
        padding: 0%;
        margin-top: 1%;
    }
    .filter1 > p1 {
        margin-left: 30%;
        color: darkgrey;
        padding: 0%;
        margin-top: 1%;
    }
    #mid {
        width: 80%;
        height: 3000px;
        margin-top: 100px;
    }
    .flex {
        width: 100%;
        height: 1500px
    }
    #mid > .flex > div{
        width: 380px;
        height: 450px;
        border: 1px solid darkgrey;
        margin-top: 1%;
    }
    .box1 > img {
        width: 100%;
        height: 50%;
    }
    .box1 {
        background-color: #FFFFFF;
        border: .5px solid darkgrey;
    }
    .box1 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: darkgrey;
        text-align: center;
    }
    .box2 {
        background-color: #7856FF;
    }
    .box2 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box3 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2020/01/wall-street-journal-img-copy-570x675.jpg);
        background-size: cover;
    }
    .box3 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box4 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2019/10/dark-with-bubbles-570x675.jpg);
        background-size: cover;
    }
    .box4 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    #mid1 {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
        background-color: white;
        display: none;
    }
    #mid1 > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .box5 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2021/03/drag-image_web-570x675.jpg);
        background-size: cover;
    }
    .box5 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box6 {
        background-color: #1E2241;
    }
    .box6 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box7 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2019/11/onboarding-video-purple-570x675.jpg);
        background-size: cover;
    }
    .box7 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    #template {
        width: 80%;
        height: 454px;
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2016/09/template-blog_2000x375-v3-tiny.png);
        margin-left: 10%;
        display: none;
    }
    #template > p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 35px;
        color: white;
        text-align: center;
        padding-top: 10%;
    }
    .flex > img {
        width: 65%;
        height: 100%;
    }
    .flex > .text2 {
        width: 35%;
        height: 100%;
        background-color: #FFFFFF;
        text-align: center;
        font-size: 25px;
        color: darkgrey;
    }
    #mid2 {
        width: 80%;
        height: 1500px;
        background-color: white;
        display: none;
    }
    #mid2 > .flex > div{
        width: 380px;
        height: 450px;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    #mid3 {
        text-align: center;
        margin-top: 5%;
    }
    #mid3 > h {
        font-size: 25px;

    }
    #get {
        width: 25%;
        height: 43px;
        border-radius: 5px;
        background-color: #7856FF;
        text-align: center;
        color: white;
        font-size: 15px;
        margin-top: 1.8%;
        margin-bottom: 7%;
    }
    #mid3 > h1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #see {
        width: 188px;
        height: 46px;
        border-radius: 5px;
        border: 1px solid aqua;
        color: aqua;
        margin-top: 2%;
        background-color: white;
    }
    #mid5{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    #mid5 > .imgbox > img {
        width: 400px;
        height: 219px;
    }
    #mid5 > .imgbox > div {
        width: 400px;
        height: 374px;
        background-color: white;
        margin-top: 0px;
        padding-top: 0px;
    }
    .imgbox{
        background-color: white;
        width: 400px;
        height: 600px;
        margin: 1.5%;
    }
    #mid5 > .imgbox > div > p {
        margin-left: 10px;
        font-size: 18px;
        color: #7856FF;
    }
    #mid5 > .imgbox > div > h {
        margin-left: 10px;
        font-size: 16px;
        color: #7856FF;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
    }
    #mid4 > h {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
    }
    #mid4 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 200;
    }
    #mid4 {
        width: 40%;
        height: auto;
        margin-left: 37%;
        margin-top: 15%;
    }
    .box8 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/05/template-builder-teal-tall-570x675.jpg);
        background-size: cover;
    }
    .box8 > p {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 600;
        text-align: center;
        padding-top: 30px;
    }
    .box9 {
        border: 1px solid white;
    }
    #mid6 {
        width: 80%;
        height: 3000px;
        background-color: #F6F6F7;
    }
    #mid6 > .flex1 > div{
        width: 380px;
        height: 450px;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .flex1 {
        width: 100%;
        height: 1500px;
    }
    .flex1 {
        display: flex;
        flex-direction: column;
    }
    #last {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-top: 500px;
        display: none;
    }
    #last > .img {
        height: 340px;
        width: 335px;
    }
    .img > img {
        height: 100%;
        width: 100%;
    }
    .pbox {
        height: 340px;
        width: 50%;
        margin-left: 10%;
    }
    .pbox > h {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 400;
    }
    .pbox > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    .pbox > .sublast {
        width: 125px;
        height: 44px;
        border-radius: 2px;
        text-align: center;
        background-color: aqua;
        color: black;
        margin-top: 1.5%;
        margin-left: 1.5%;
    }
    #end {
        width: 100%;
        height: 581px;
        margin-top: 1000px;
        background: #7db9e8;
        background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
        background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
        background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
        ;
        text-align: center;
        padding-top: 20%;
    }
    #end > h {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: white;
    }
    #end > p {
        font-size: 20px;
        color: white;;
    }
    #end > #free {
        height: 70px;
        width: 173px;
        background-color: white;
        color: #7856FF;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 400;
    }
}
@media screen and (min-width: 700px)
                and (max-width:1100px) {
    #head {
        width: 100%;
        height: 430px;
        background-color: #1F2342;
        text-align: center;
    }
    #headbottom {
        width: 100%;
        height: 70px;
        background-color: #7856FF;
        margin-top: 28%;
        display: flex;
    }
    #sub {
        width: 130px;
        height: 38px;
        border-radius: 5px;
        background-color: #F6F6F7;
        margin-left: 5%;
        margin-top: 1%;
    }
    #head > .text > h {
        font-size: 46px;
        color: #FFFFFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #head > .text > p {
        font-size: 20px;
        color: #FFFF;
        text-align: center;
    }
    #head > .text {
        width: 100%;
        height: 124px;
        padding-top: 10%;
    }
    #headbottom > p {
        font-size: 20px;
        color: #FFFFFF;
        margin-left: 10%;
    }
    .logo1{
        height: 40px;
        width: 40px;
        background-color: #7856FF;
        border-radius: 5px;
    }
    .logo1 > img {
        height: 35px;
        width: 35px;
    }
    .filter1 {
        width: 80%;
        height: 88px;
        display: flex;
        margin-top: 100px;
        margin-left: 10%;
    }
    .filter1 > input {
        width: 25%;
        height: 45px;
        border-radius: 5px;
    }
    .filter1 > p {
        margin: 20px;
        color: darkgrey;
        padding: 0%;
        margin-top: 1%;
    }
    .filter1 > p1 {
        color: darkgrey;
        padding: 0%;
        margin-top: 1%;
    }
    #mid {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
    }
    .flex {
        width: 100%;
        height: 50%;
    }
    #mid > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .box1 > img {
        width: 100%;
        height: 50%;
    }
    .box1 {
        background-color: #FFFFFF;
        border: .5px solid darkgrey;
        flex-grow: 2;
    }
    .box1 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: darkgrey;
        text-align: center;
    }
    .box2 {
        background-color: #7856FF;
        display: none;
    }
    .box2 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box3 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2020/01/wall-street-journal-img-copy-570x675.jpg);
        background-size: cover;
        display: none;
    }
    .box3 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box4 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2019/10/dark-with-bubbles-570x675.jpg);
        background-size: cover;
    }
    .box4 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    #mid1 {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
        background-color: white;
        display: none;
    }
    #mid1 > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    .box5 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2021/03/drag-image_web-570x675.jpg);
        background-size: cover;
    }
    .box5 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box6 {
        background-color: #1E2241;
    }
    .box6 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .box7 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2019/11/onboarding-video-purple-570x675.jpg);
        background-size: cover;
    }
    .box7 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .flex {
        display: flex;
    }
    #template {
        width: 80%;
        height: 454px;
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2016/09/template-blog_2000x375-v3-tiny.png);
        margin-left: 10%;
    }
    #template > p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 35px;
        color: white;
        text-align: center;
        padding-top: 10%;
    }
    .flex > img {
        width: 65%;
        height: 100%;
    }
    .flex > .text2 {
        width: 35%;
        height: 100%;
        background-color: #FFFFFF;
        text-align: center;
        font-size: 25px;
        color: darkgrey;
    }
    #mid2 {
        width: 80%;
        height: 1000px;
        margin-left: 9%;
        background-color: white;
        display: none;
    }
    #mid2 > .flex > div{
        width: 35%;
        height: 90%;
        border: 1px solid darkgrey;
        margin-top: 1%;
        margin-left: 1.5%;
    }
    #mid3 {
        text-align: center;
        margin-top: 5%;
    }
    #mid3 > h {
        font-size: 25px;

    }
    #get {
        width: 25%;
        height: 43px;
        border-radius: 5px;
        background-color: #7856FF;
        text-align: center;
        color: white;
        font-size: 15px;
        margin-top: 1.8%;
        margin-bottom: 7%;
    }
    #mid3 > h1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #see {
        width: 188px;
        height: 46px;
        border-radius: 5px;
        border: 1px solid aqua;
        color: aqua;
        margin-top: 2%;
        background-color: white;
    }
    #mid5{
        width: 80%;
        height: auto;
        display: flex;
        margin-top: 2%;
    }
    #mid5 > .imgbox > img {
        width: 380px;
        height: 219px;
    }
    #mid5 > .imgbox > div {
        width: 380px;
        height: 374px;
        background-color: white;
        margin-top: 0px;
        padding-top: 0px;
    }
    .imgbox{
        background-color: white;
        width: 380px;
        height: 600px;
    }
    .imgbox1 {
        display: none;
    }
    #mid5 > .imgbox > div > p {
        margin-left: 10px;
        font-size: 18px;
        color: #7856FF;
    }
    #mid5 > .imgbox > div > h {
        margin-left: 10px;
        font-size: 16px;
        color: #7856FF;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
    }
    #mid4 > h {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
    }
    #mid4 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 200;
    }
    #mid4 {
        width: 40%;
        height: auto;
        margin-left: 37%;
        margin-top: 15%;
    }
    .box8 {
        background-image: url(https://www.campaignmonitor.com/wp-content/uploads/2017/05/template-builder-teal-tall-570x675.jpg);
        background-size: cover;
    }
    .box8 > p {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 600;
        text-align: center;
        padding-top: 30px;
    }
    .box9 {
        border: 1px solid white;
    }
    #mid6 {
        width: 80%;
        height: 1600px;
        margin-left: 9%;
        background-color: #F6F6F7;
    }
    .boxx {
        display: none;
    }
    #mid6 > .flex1 > div{
        width: 35%;
        height: 90%;
        margin-top: 1%;
        margin-left: 1.5%;
        flex-grow: 1.5;
    }
    .flex1 {
        width: 100%;
        height: 33%;
    }
    .flex1 {
        display: flex;
    }
    #last {
        width: 80%;
        height: auto;
        display: flex;
        margin-left: 15%;
        margin-top: 10%;
    }
    #last > .img {
        height: 340px;
        width: 335px;
    }
    .img > img {
        height: 100%;
        width: 100%;
    }
    .pbox {
        height: 340px;
        width: 50%;
        margin-left: 10%;
    }
    .pbox > h {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 400;
    }
    .pbox > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    .pbox > .sublast {
        width: 125px;
        height: 44px;
        border-radius: 2px;
        text-align: center;
        background-color: aqua;
        color: black;
        margin-top: 1.5%;
        margin-left: 1.5%;
    }
    #end {
        width: 100%;
        height: 581px;
        margin-top: 10%;
        background: #7db9e8;
        background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
        background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
        background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
        ;
        text-align: center;
        padding-top: 20%;
    }
    #end > h {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: white;
    }
    #end > p {
        font-size: 20px;
        color: white;;
    }
    #end > #free {
        height: 70px;
        width: 173px;
        background-color: white;
        color: #7856FF;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 400;
    }
}

/* Footer Section */
footer{
    height: 595px;
    background-color: #111324;
    color: white;
    padding: 60px;
    box-sizing: border-box;
  }
  
  .btn-container{
      
    width: 95%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
  
  .btn-container a{
    border-radius: 3px;
    text-decoration: none;
    width: 48.5%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 23px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    color: white;
    background-color: #7856FF;
  }
  
  .btn-container a:hover{
    color: white;
    background-color: #886aff;
  }
  
  /* Top Part of footer with links */
  
  footer .cmlogo{
    display: inline;
  }
  
  footer a{
    text-decoration: none;
  }
  
  footer #footer-cont{
    width: 73.1%;
    margin: auto;
  }
  
  footer #footer-cont #top-footer{
    margin-bottom: 219px;
  }
  
  footer #footer-cont #footer-menu{
    padding: 0%;
    margin-top: -2px;
    float: right;
    width: 682px;
  }
  
  footer #footer-cont #footer-menu ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    float: left;
    width: 25%;
  }
  
  footer #footer-cont #footer-menu ul li:nth-child(1){
    margin: 0px 0px 9px 0px;
  }
  
  footer #footer-cont #footer-menu ul li{
    margin: 0px 0px 7px 0px;
  }
  
  footer #footer-cont #footer-menu ul li a{
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    transition: 0.2s ease-in-out;
  }
  
  footer #footer-cont #footer-menu ul li a:hover{
    opacity: 0.85;
  }
  
  footer #footer-cont #footer-menu ul .heading{
    letter-spacing: 0px;
    font-weight: bold;
    color: #8A8B93;
  }
  
  footer #footer-cont #footer-menu ul .heading:hover{
    opacity: 1;
  }
  
  
  hr{
    border: 0px solid #ffffff;
    border-top: 1px solid #5D5D66;
    width: 99.7%;
  }
  
  /* Bottom Part of footer with copyright */
  
  footer #bottom-footer{
    margin-top: 26px;
    margin-left: 2px;
  }
  
  footer #bottom-footer .btn-container{
    width: 488px;
    float: left;
  }
  
  footer #bottom-footer .foot-notes{
    margin-top: 9.5px;
    float: right;
    width: 684px;
  }
  
  footer #bottom-footer .foot-notes a{
    margin-right: 13.5px;
  }
  
  footer #bottom-footer .foot-notes a svg{
    transition: 0.2s ease-in-out;
  }
  
  footer #bottom-footer .foot-notes a svg:hover{
    opacity: .85;
  }
  
  footer #bottom-footer .foot-notes .foot-line{
    float: right;
    width: 498px;
    font-size: 11.5px;
    margin-top: 3px;
    margin-right: 0px;
    color: #BEBEC2;
    letter-spacing: .05px;
  }
  
  footer #bottom-footer .foot-notes .foot-line a{
    color: #BEBEC2;
    margin-right: 0px;
    transition: 0.2s ease-in-out;
  }
  
  footer #bottom-footer .foot-notes .foot-line a:hover{
    opacity: .85;
  }
  
  footer #bottom-footer .foot-notes .foot-line .first-sep {
    width: 1px;
    height: 13px;
    position: relative;
    top: 2px;
    display: inline-block;
    background-color: #8A8B93;
    margin: 0px 5px;
  }
  
  footer #bottom-footer .foot-notes .foot-line .sep {
    margin-left: 10px;
  }
  
  .last-part{
    width: 75%;
    margin: auto;
    margin-top: 145px;
    text-align: center;
    /* border: 2px solid red; */
  }
  
  .last-part span{
    color: #BEBEC2;
    font-size: 11.5px;
    letter-spacing: .18px;
  }
  
  .last-part span a{
    color: #BEBEC2;
    transition: 0.2s ease-in-out;
  }
  
  .last-part span a:hover{
    opacity: 0.85;
  }
  
  footer .logos{
    /* border: 2px solid red; */
    width: 74.5%;
    margin: auto;
    margin-top: 10px;
  }
  
  footer .logos a{
    margin: 16px;
  }
  
  footer .logos a img{
    width: 10%;
  }
  
  footer .logos .one{
    width: 15.2%;
  }
  
  footer .logos .two{
    width: 14%;
  }
  
  footer .logos .three{
    width: 5.8%;
  }
  
  footer .logos .four{
    width: 7.8%;
  }
  
  footer .logos .five{
    width: 8%;
  }
  
  footer .logos .six{
    width: 8%;
  }
  
  footer .logos .seven{
    width: 6%;
  }
  
  footer .logos .eight{
    width: 5%;
  }