/* CSS Reset */
body{
    margin: 0px;
    padding: 0px;
    font-family: "Graphik Web", Helvetica, sans-serif;
    font-weight: lighter;
}

/* Header Section */
header{
    background-color: #111324;
    /* width: 100%; */
    height: 80px;
    position: sticky;
    top: 0%;
    z-index: 100;
}

/* Navigation Bar */
#nav-bar{
    /* border: 2px solid red; */
    height: 100%;
    width: 68.5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo inside the Navigation Bar */
#cmlogo{
    padding-left: 2px;
    padding-top: 3px;
    width: 100%;
    /* border: 2px solid red; */
}

/* Navigation Menu */
#nav-menu{
    height: 100%;
    width: 45%;
    display: flex;
    /* border: 2px solid red; */
}

/* Secondary Menu */
#secondary-menu{
    height: 100%;
    width: 22%;
    display: flex;
    /* border: 2px solid red; */
}

#secondary-menu > .btn{
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 3px;
    background: #51CFDB;
    margin: 20px 0px 0px 10px;
    padding: 12px 15px;
    height: 40px;
    color: #111324;
    transition: 0.2s;
}

/* Anchor Tag properties */
#nav-bar > a{
    width: 18%;
}

#nav-bar #nav-menu a,#secondary-menu a{
    letter-spacing: .115em;
    font-size: 15px;
    text-decoration: none;
    color: white;
    /* border: 2px solid red; */
    text-align: center;
    padding: 33px 12px;
    box-sizing: border-box;    
    transition: 0.2s;
}

#secondary-menu a{
    letter-spacing: .13em;  
}

/* Hover Effects */
#nav-bar #nav-menu a:hover,#secondary-menu a:not(.btn):hover{
    color: #51CFDB;
}

header #secondary-menu .btn:hover{
    background: #6ad6e0;
}


/* Content Section */

/* Unforgettable Section */
#unforgettable{
    width: 100%;
    /* border: 2px solid red; */
}

.inner{
    padding-top: 1.6%;
    width: 68.3%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    box-sizing: border-box;
}

#left-sec{
    width: 45%;
}

.inner #left-sec h1{
    margin-top: 11%;
    font-size: 56px;
}

.inner #left-sec p{
    letter-spacing: .015em;
    margin-top: -10px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: lighter;
}

.inner #left-sec #btn-container{
    
    width: 95%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.inner #left-sec #btn-container a{
    border-radius: 3px;
    text-decoration: none;
    width: 48.5%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 23px;
    box-sizing: border-box;
    transition-duration: 0.2s;
}

.inner #left-sec #btn-container a:nth-child(1){
    color: white;
    background-color: #7856FF;
}

.inner #left-sec #btn-container a:nth-child(1):hover{
    color: white;
    background-color: #886aff;
}

.inner #left-sec #btn-container a:nth-child(2){
    border: 1px solid #7856FF;
    color: #7856FF;
}

.inner #left-sec #btn-container a:nth-child(2):hover{
    border: 1px solid #7856FF;
    color: white;
    background-color: #7856FF;
}

#right-sec{
    width: 45%;
    position: relative;
}

#right-sec img{
    width: 90.15%;
    position: absolute;
    
}

#right-sec .top img{
    top: 1%;
    left: 5%;
    z-index: 3;
}
#right-sec .middle img{
    top: 13.8%;
    left: 5%;
    z-index: 2;
}
#right-sec .bottom img{
    top: 26.8%;
    left: 5%;
    z-index: 1;
}


/* Logo Strip */
#logo-strip{
    width: 100%;
    height: 300px;
    padding: 71px;
    background: #f6f6f7;
    box-sizing: border-box  ;
    text-align: center;
    /* border: 2px solid red; */
}

#logo-strip .cont{
    margin: auto;
    width: 68.5%;
    /* border: 2px solid red; */
}

#logo-strip .cont p{
    font-size: 22px;
    letter-spacing: .015em;
    margin: 12px 225px 28px;
}
#logo-strip .logos{
    height: 90px;
}

#logo-strip .logos img{
    margin: 0 67.5px;
    width: 7.28%;
}


/* Footer Section */
